<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesoft.mapper.ApiMainMapper">
    <resultMap id="ApiInfoResult" type="com.freesoft.model.ApiMainDO">
        <result column="m_id" property="id"/>
        <result column="name" property="name"/>
        <result column="method" property="method"/>
        <result column="path" property="path"/>
        <result column="m_description" property="description"/>
        <result column="state" property="state"/>
        <result column="enable" property="enable"/>
        <result column="execute_sql" property="executeSql"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_name" property="createdName"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_name" property="lastModifiedName"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <collection property="parameters" ofType="com.freesoft.model.ApiParameterDO">
            <result column="p_id" property="id"/>
            <result column="p_api_id" property="apiId"/>
            <result column="p_key" property="key"/>
            <result column="p_default_value" property="defaultValue"/>
            <result column="p_description" property="description"/>
            <result column="required" property="required"/>
            <result column="data_type" property="dataType"/>
            <result column="validate_type" property="validateType"/>
            <result column="error" property="error"/>
            <result column="expression" property="expression"/>
        </collection>
    </resultMap>

    
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.freesoft.model.ApiMainDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="method" property="method" />
        <result column="path" property="path" />
        <result column="description" property="description" />
        <result column="state" property="state" />
        <result column="enable" property="enable" />
        <result column="execute_sql" property="executeSql" />
        <result column="created_by" property="createdBy" />
        <result column="created_name" property="createdName" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_name" property="lastModifiedName" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, method, path, description, state, enable, execute_sql, created_by, created_name, created_date, last_modified_by, last_modified_name, last_modified_date
    </sql>
    <insert id="insertInterface">
        insert into api_main(id, name, method, path, description, state, enable, execute_sql, created_by, created_name,
                             created_date)
        values (#{id}, #{name}, #{method}, #{path}, #{description}, #{state}, #{enable}, #{executeSql}, #{createdBy},
                #{createdName}, now())
    </insert>
    <select id="getAllApi" resultType="com.freesoft.vo.RequestParamsVO">
        SELECT am.path ,am.method, ap.`key`,ap.api_id FROM api_main am , api_parameter ap
        WHERE am.id = ap.api_id
    </select>
    <select id="getAllApiById" resultType="com.freesoft.vo.RequestParamsVO">

    </select>
    <select id="getAll" resultMap="ApiInfoResult">
        select m.id            as m_id,
               mg.group_id,
               m.name,
               m.method,
               m.path,
               m.description   as m_description,
               m.state,
               m.enable,
               m.execute_sql,
               m.created_by,
               m.created_name,
               m.created_date,
               m.last_modified_by,
               m.last_modified_name,
               m.last_modified_date,
               p.id            as p_id,
               p.api_id        as p_api_id,
               p.`key`         as p_key,
               p.default_value as p_default_value,
               p.description   as p_description,
               p.required,
               p.data_type,
               p.validate_type,
               p.`error`,
               p.`expression`
        from api_main m
                 inner join api_main_group mg on m.id = mg.api_id and mg.quote = '0'
                 left join api_parameter p on m.id = p.api_id
        where m.state = '0'
    </select>
</mapper>
